C:\Users\Jorge\git\pa2015
C:\Users\Jorge\git\pa2015-inspector
C:\Users\Jorge\git\pidesco
C:\Users\Jorge\git\SpeedText
C:\Users\Jorge\git\pa.iscde.deepsearch
C:\Users\Jorge\git\outline
C:\Users\Jorge\git\pa.iscde.mcgraph
C:\Users\Jorge\git\pa2015-checkstyle
C:\Users\Jorge\git\pa2015-classdiagram
C:\Users\Jorge\git\SpeedText